---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Test">
  <div class="p-8">
    <h1 class="text-4xl font-bold">¡Astro funciona!</h1>
    <p class="mt-4">Si ves esto, Astro está corriendo correctamente.</p>
  </div>
</Layout>
